<div class="conatiner p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3 class="text-uppercase">EDITANDO LA COMPRA DE MATERIAL</h3>
        </div>
        <div class="card-body">
          <form action="/editBuyMat/{{buyMaterials.com_id}}" method="post">
            <div class="input-group mt-2">
              <label for="name" class="input-group-text">Id Compra</label>
              <input
                value="{{buyMaterials.com_id}}"
                class="form-control"
                type="number"
                name="com_id"
                id="com_id"
                autofocus
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="lastname" class="input-group-text">Id Material</label>
              <input
                value="{{buyMaterials.mat_id}}"
                class="form-control"
                type="number"
                name="mat_id"
                id="mat_id"
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="lastname" class="input-group-text">Id Administrador</label>
              <input
                value="{{buyMaterials.adm_id}}"
                class="form-control"
                type="number"
                name="adm_id"
                id="adm_id"
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="age" class="input-group-text">Cantidad</label>
              <input
                value="{{buyMaterials.com_cantidad}}"
                class="form-control"
                type="number"
                name="com_cantidad"
                id="com_cantidad"
                required
              />
            </div>
            <div class="input-group mt-2">
              <label for="age" class="input-group-text">Fecha Compra</label>
              <input
                value="{{buyMaterials.com_fecha}}"
                class="form-control"
                type="date"
                name="com_fecha"
                id="com_fecha"
                required
              />
            </div>
            <div class="form-group mt-4 d-grid gap-2">
              <button class="btn btn-success">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>